# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Engine specific files
*AssetsPath.txt
*AssetsPath.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
build/
cmake-build-*

# Visual Studio 2015 cache/options directory
.vs/

# CLion project data
.idea/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# macOS stuff
.DS_Store

# Xcode stuff
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout


# Exculdes from ignore
!**/ThirdParty/**
